*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #787887;
  margin: 2rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attribution {
  text-align: center;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 5rem;
}

.attribution__link {
  color: #000;
}

.attribution__link:hover {
  text-decoration: none;
}

h1 {
  color: #000;
  text-transform: uppercase;
}

.container {
  position: relative;
}

.card {
  background-color: #fff;
  border-radius: 2rem;
  padding: 5rem 0;
  width: 90rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../../img/bg-pattern-desktop.svg), #fff;
  background-position: -57rem 60%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 1000px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 35rem;
    background-position: 50% -15rem;
    background-size: 26rem;
    overflow: visible;
  }
}

.card__box {
  position: absolute;
  top: 20rem;
  left: -9.2rem;
  z-index: 2;
}

@media only screen and (max-width: 1000px) {
  .card__box {
    top: -4rem;
    left: 3rem;
    width: 10rem;
  }
}

.card__woman {
  position: absolute;
  top: 7rem;
  left: -7.2rem;
  z-index: 1;
}

@media only screen and (max-width: 1000px) {
  .card__woman {
    top: -11rem;
    left: 5rem;
    width: 25rem;
    height: auto;
  }
}

.card__faq {
  padding: 5rem 5rem 5rem 0;
  width: 50%;
  margin-left: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 1000px) {
  .card__faq {
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
  }
}

.accordion {
  background-color: #fff;
  border: none;
  outline: none;
  width: 75%;
  color: #000;
  text-align: left;
  padding: 1.5rem 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 1000px) {
  .accordion {
    width: 100%;
  }
}

.active,
.accordion:hover {
  background-color: #fff;
}

.accordion::after {
  content: url(../../img/icon-arrow-down.svg);
  position: absolute;
  right: 15rem;
}

@media only screen and (max-width: 1000px) {
  .accordion::after {
    right: 7rem;
  }
}

.active::after {
  content: url(../../img/icon-arrow-down.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.panel {
  display: none;
  overflow: hidden;
}
