*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #787887;
  margin: 2rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeIn 2.5s ease-in;
          animation: fadeIn 2.5s ease-in;
}

@media only screen and (max-width: 62.5em) {
  body {
    padding-top: 12rem;
    padding-bottom: 3rem;
  }
}

.attribution {
  text-align: center;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 5rem;
}

.attribution__link {
  color: #000;
}

.attribution__link:hover {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 62.5em) {
  h1 {
    text-align: center;
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  position: relative;
}

.card {
  background-color: #fff;
  border-radius: 2rem;
  padding: 5rem 0;
  width: 90rem;
  background: url(../../img/bg-pattern-desktop.svg), #fff;
  background-position: -57rem 60%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 62.5em) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 30rem;
    background-position: 50% -15rem;
    background-size: 26rem;
    overflow: visible;
  }
}

.card__box {
  position: absolute;
  top: 15rem;
  left: -9.2rem;
  z-index: 2;
  -webkit-animation: bounce 1s infinite alternate;
          animation: bounce 1s infinite alternate;
}

@media only screen and (max-width: 62.5em) {
  .card__box {
    top: -4rem;
    left: 3rem;
    width: 10rem;
  }
}

.card__woman {
  position: absolute;
  top: 2rem;
  left: -7.2rem;
  z-index: 1;
}

@media only screen and (max-width: 62.5em) {
  .card__woman {
    top: -11rem;
    left: 2.5rem;
    width: 25rem;
    height: auto;
  }
}

.card__faq {
  padding: 5rem 0;
  width: 40%;
  margin-left: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 62.5em) {
  .card__faq {
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 8rem;
  }
}

.accordion {
  background-color: #fff;
  border: none;
  outline: none;
  width: 75%;
  font-size: inherit;
  color: inherit;
  text-align: left;
  padding: 1.5rem 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 62.5em) {
  .accordion {
    width: 103%;
  }
}

.active,
.accordion:hover {
  color: #000;
}

.accordion:after {
  content: url(../../img/icon-arrow-down.svg);
  position: absolute;
  right: 9rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 62.5em) {
  .accordion:after {
    right: 2rem;
  }
}

.active:after {
  content: url(../../img/icon-arrow-down.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.panel {
  background-color: #fff;
  width: 75%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

@media only screen and (max-width: 62.5em) {
  .panel {
    width: 90%;
  }
}

hr {
  border-top: solid 1px #e7e7e9;
  width: 75%;
}

@media only screen and (max-width: 62.5em) {
  hr {
    width: 100%;
  }
}
