.container {
    position: relative;
}

.card {
    background-color: $white;
    border-radius: 2rem;

    padding: 5rem 0;
    width: 90rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: url(../../img/bg-pattern-desktop.svg), $white;
    background-position: -57rem 60%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: 1000px) {
        flex-direction: column;
        max-width: 35rem;
        background-position: 50% -15rem;
        background-size: 26rem;
        overflow: visible;
    }

    &__box {
        position: absolute;
        top: 20rem;
        left: -9.2rem;
        z-index: 2;

        @media only screen and (max-width: 1000px) {
            top: -4rem;
            left: 3rem;
            width: 10rem;
        }
    }

    &__woman {
        position: absolute;
        top: 7rem;
        left: -7.2rem;
        z-index: 1;

        @media only screen and (max-width: 1000px) {
            top: -11rem;
            left: 5rem;
            width: 25rem;
            height: auto;
        }
    }

    &__faq {
        padding: 5rem 5rem 5rem 0;
        width: 50%;
        margin-left: auto;

        justify-self: center;
        align-self: center;

        @media only screen and (max-width: 1000px) {
            padding: 1rem;
            width: 90%;
            margin: 0 auto;
            margin-top: 5rem;
        }
    }
}

.accordion {
    background-color: $white;
    border: none;
    outline: none;
    width: 75%;
    color: $black;
    text-align: left;
    padding: 1.5rem 0;
    cursor: pointer;
    transition: 0.3s;

    @media only screen and (max-width: 1000px) {
        width: 100%;
    }
}

.active,
.accordion:hover {
    background-color: $white;
}

.accordion::after {
    content: url(../../img/icon-arrow-down.svg);
    position: absolute;
    right: 15rem;

    @media only screen and (max-width: 1000px) {
        right: 7rem;
    }
}

.active::after {
    content: url(../../img/icon-arrow-down.svg);
    transform: rotate(180deg);
    transition: 0.3s;
}

.panel {
    display: none;
    overflow: hidden;
}
