.container {
    position: relative;
}

.card {
    background-color: $light-grey;
    border-radius: 2rem;

    padding: 5rem 0;
    width: 90rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: url(../../img/bg-pattern-desktop.svg), $light-grey;
    background-position: -57rem 60%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: 1000px) {
        flex-direction: column;
        max-width: 35rem;
        background-position: 50% -15rem;
        background-size: 26rem;
        overflow: visible;
    }

    &__box {
        position: absolute;
        top: 20rem;
        left: -9.2rem;
        z-index: 2;

        @media only screen and (max-width: 1000px) {
            top: -4rem;
            left: 3rem;
            width: 10rem;
        }
    }

    &__woman {
        position: absolute;
        top: 7rem;
        left: -7.2rem;
        z-index: 1;

        @media only screen and (max-width: 1000px) {
            top: -11rem;
            left: 5rem;
            width: 25rem;
            height: auto;
        }
    }

    &__faq {
        padding: 5rem 5rem 5rem 0;
        width: 50%;
        margin-left: auto;

        @media only screen and (max-width: 1000px) {
            padding: 1rem;
            width: 90%;
            margin: 0 auto;
            margin-top: 10rem;
        }
    }
}
