.container {
  position: relative;
}

.card {
  background-color: $white;
  border-radius: 2rem;

  padding: 5rem 0;
  width: 90rem;

  background: url(../img/bg-pattern-desktop.svg), $white;
  background-position: -57rem 60%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-tablet) {
    flex-direction: column;
    max-width: 30rem;
    background-position: 50% -15rem;
    background-size: 26rem;
    overflow: visible;
  }

  &__box {
    position: absolute;
    top: 15rem;
    left: -9.2rem;
    z-index: 2;

    animation: bounce 1s infinite alternate;

    @media only screen and (max-width: $bp-tablet) {
      top: -4rem;
      left: 3rem;
      width: 10rem;
    }
  }

  &__woman {
    position: absolute;
    top: 2rem;
    left: -7.2rem;
    z-index: 1;

    @media only screen and (max-width: $bp-tablet) {
      top: -11rem;
      left: 2.5rem;
      width: 25rem;
      height: auto;
    }
  }

  &__faq {
    padding: 5rem 0;
    width: 40%;
    margin-left: auto;

    justify-self: center;
    align-self: center;

    @media only screen and (max-width: $bp-tablet) {
      padding: 1rem;
      width: 90%;
      margin: 0 auto;
      margin-top: 8rem;
    }
  }
}

.accordion {
  background-color: $white;
  border: none;
  outline: none;
  width: 75%;
  font-size: inherit;
  color: inherit;
  text-align: left;
  padding: 1.5rem 0;
  cursor: pointer;
  transition: 0.3s;

  @media only screen and (max-width: $bp-tablet) {
    width: 103%;
  }
}

.active,
.accordion:hover {
  color: $black;
}

.accordion:after {
  content: url(../img/icon-arrow-down.svg);
  position: absolute;
  right: 9rem;
  transition: 0.3s;

  @media only screen and (max-width: $bp-tablet) {
    right: 2rem;
  }
}

.active:after {
  content: url(../img/icon-arrow-down.svg);
  transform: rotate(180deg);
  transition: 0.3s;
}

.panel {
  background-color: $white;
  width: 75%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

  @media only screen and (max-width: $bp-tablet) {
    width: 90%;
  }
}

hr {
  border-top: solid 1px $light-grey;
  width: 75%;

  @media only screen and (max-width: $bp-tablet) {
    width: 100%;
  }
}
